
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    text-align: center;
    margin: 50px;
    background-color: #f4f4f4;
    color: #333;
}

#home {
    display: flex;
}

#home img {
    width: 200px;
    margin: -80px 10px;
}

.update-blog {
    display: flex;
    flex-direction: column;
    margin: 20px auto;

    h3 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 11px;
    }
}

#container {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

#quote {
    font-size: 26px;
    margin: 20px 0;
    color: #333;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.btn-quote {
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.1px;
    cursor: pointer;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-quote:hover {
    background: #0056b3;
}

.quote-motivation {
    display: flex;
    flex-direction: column;
    margin: 50px auto;

    h2 {
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 2px;
    }

    p {
        margin: auto;
        letter-spacing: 2px;
    }
}

.book-container {
    display: flex;
    justify-content: center;
    gap: 250px;
    border: 3px dotted #333;
    width: 1200px;
    height: 200px;
    margin: auto;

    p {
        width: 320px;
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        background-color: orange;
        border-radius: 6px;
        color: black;
        padding: 8px;
    }

    a:hover {
        background-color: rgb(219, 145, 6);
        transition: 0.2s;
    }
}

.news-title {
    margin: 80px auto;
    font-size: 24px;
    letter-spacing: 10px;
}

.news-container {
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    gap: 20px;
}

.main-content {
    flex: 2;
}

.sidebar {
    flex: 1;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-card {
    background: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-card img {
    width: 80%;
    height: auto;
    border-radius: 5px;
}

.news-card h2 {
    color: rgb(165, 110, 13);
    font-size: 20px;
    margin: 10px 0;
}

.news-card p {
    font-size: 14px;
    color: #555;
}

.news-card a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.news-card a:hover {
    text-decoration: underline;
}

.category-list {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.category-list li {
    margin-bottom: 50px;
}

.category-list a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.category-list a:hover {
    text-decoration: underline;
}

.article-container {
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
}

.article-card {
    background: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


    h3 {
        color: darkblue;
    }

    p {
        padding: 60px;
        text-align: justify;
        letter-spacing: 1.3px;
        line-height: 24px;
        font-size: 16px;
        color: #555;
    }

    span {
        color: #0056b3;
        border-bottom: 2px solid #0056b3;
    }

    .number {
        color: #333;
    }
}

@media (max-width: 768px) {
    #home img {
        flex-direction: column;
        margin: -70px auto;
    }

    .quote-motivation {
        width: 100%;
        flex-direction: column;
        margin: 20px auto;
    }
    
    .news-container, .book-container {
        display: flex;
        flex-direction: column;
    }

    .btn-quote {
        flex-direction: column;
    }

    .article-card {
        width: 100%;
        margin: auto;
        padding: 5px;

        p {
            
            font-size: 13px;
            text-align: justify;
        }
    }
}

@media (min-width: 200px) {
    #home img {
        flex-direction: column;
    }

    .quote-motivation {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    #quote {
        font-size: 20px;
    }
    
    .news-container, .book-container {
        display: flex;
        flex-direction: column;
    }

    .btn-quote {
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .article-card {
        width: 100%;
        margin: auto;

        p {
            padding: 5px;
            font-size: 12px;
            text-align: justify;
        }
    }

}

.use-term {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    gap: 10px;

    h4 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 9px;
    }
}

.trade-mark {
    display: flex;
    margin: auto;
    justify-content: center;

    h4 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 9px;
    }
}

.go-head, .btn-go-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}